@keyframes navbar-menu-slid-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes navbar-menu-slid-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}