html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    -webkit-text-size-adjust: none;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
    color: $header-color-fg;
    font-family: $body-font-family;;
    font-size: 12pt;
    font-weight: $body-font-weight;
    line-height: 1.75;
    background-color: $body-color-bg;
}


a, .link {
    transition: color 0.2s ease-in-out;
    transition: border-bottom-color 0.2s ease-in-out;
    border-bottom: $border-link-style $border-width $border-color-alt;
    color: inherit;
    text-decoration: none;

    &:before {
        transition: color 0.2s ease-in-out;
    }

    &:hover {
        border-bottom-color: transparent;
        color: $accent-color !important;

        &:before {
            color: $accent-color !important;
        }
    }
}

p {
    margin: 0 0 $element-margin 0;
    font-family: $body-font-family;
}

h1,
.h1, h2, .h2, h3, .h3, h4, .h4 {
  color: #3c3b3b;
  font-family: $header-font-family;
  font-weight: $header-font-weight-bold;
  letter-spacing: $header-kerning;
  line-height: 1.65;
  margin: 0 0 1em 0;
  text-transform: uppercase;

  .link {
    border-bottom: 0;
  }
}

h2, .h2 {
    font-size: 1.1em;
}

h3, .h3 {
    font-size: 0.9em;
}

h4, .h4 {
    font-size: 0.7em;
}

h5, .h5 {
    font-size: 0.7em;
}

h6, .h6 {
    font-size: 0.7em;
}



header {
    p {
        font-family: $header-font-family;
        font-size: 0.7em;
        font-weight: $header-font-weight;
        letter-spacing: $header-kerning;
        line-height: 2.5;
        margin-top: -1em;
        text-transform: uppercase;
    }
}



.content-list {
    list-style: disc;
}

.resume-menu {
    list-style-type: disc;
    & li:after { content: " \00b7"; }
    li {
        display: inline-block;
        &:after {
            margin: 0.5em;
            content: " \2022";
        }
        &:last-child:after { content: none; }
    }
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}