$font-sans-serif:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$border-width: 1px;
$border-style: solid;
$border-link-style: dotted;
$border-color: rgba(160, 160, 160, 0.3);
$border-color-bg: rgba(160, 160, 160, 0.075);
$border-color-alt: rgba(160, 160, 160, 0.65);
$accent-color: #2e59ba;

$body-font-family: $font-sans-serif;
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.5;
$body-color-bg: #f4f4f4;
$body-color-fg: #646464;
$body-color-fg-light: #aaaaaa; 

$header-font-family: ('Raleway', Helvetica, sans-serif);
$header-font-size: $body-font-size;
$header-font-weight: $body-font-weight;
$header-font-weight-bold: 800;
$header-line-height: 3.5em;
$header-kerning: 0.25em;
$header-color-bg: #ffffff;
$header-color-fg: #646464;


$post-color-bg: #ffffff;

$section-padding: 3em;
$section-padding-sm: 2.5em;

$element-margin: 2em;


/* screen size */
$breakpoint-xl: 1680px;
$breakpoint-lg: 1280px;
$breakpoint-md: 980px;
$breakpoint-sm: 736px;
$breakpoint-xs: 0;

$breakpoints: (
    xl: $breakpoint-xl,
    lg: $breakpoint-lg,
    md: $breakpoint-md,
    sm: $breakpoint-sm,
    xs: $breakpoint-xs
);
