@use "../abstracts/" as *;

.flex-group {
  display: flex;
  flex-wrap: wrap;
  
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, calc($flex-group-gap / 2));
  
  flex-direction: var(--flex-direction, row);
  width: var(--flex-width, fit-content);
}

.flex-group.mx-auto {
  justify-content: center;
}



.flex-group-gap-0 {
  --flex-column-gap: 0rem;
  --flex-row-gap: 0rem;
}

.flex-group-gap-1 {
  --flex-column-gap: #{$size-1};
  --flex-row-gap: #{$size-1};
}
