.icons {
    cursor: default;
    list-style: none;
    margin: 0 0 $element-margin 0;
    padding-left: 0;
    
    li {
        display: inline-block;
        padding: 0 1em 0 0;

        &:last-child {
            padding-right: 0;
        }

        a, .link {
            border-bottom: 0;
        }
    }
}

.icon {
    color: $body-color-fg-light;
}
