.sidebar {
    margin-right: $section-padding;
    min-width: 22em;
    width: 22em;

    > * {
        border-top: $border-style $border-width $border-color;
        margin: $section-padding 0 0 0;
        padding: $section-padding 0 0 0;
    }

    > :first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }

    .intro {
        .logo {
            border-bottom: 0;
            display: inline-block;
            margin: 0 0 ($element-margin * 0.5) 0;
            overflow: hidden;
            position: relative;
    
            img {
                width: 10em;
                border-radius: 50%;
                display: block;
            }
        }

        .h2 {
            font-size: 1.5em;
            font-weight: $header-font-weight-bold;
        }
        p {
            font-size: 0.8em;
            .link {
                color: #646464;
            }
        }

        @include breakpoint-max(lg) {
            text-align: center;
        }
        @include breakpoint-min(lg) {
            text-align: start;
        }
    }

    .blurb {
        text-align: start;

        .h2 {
			font-size: 0.8em;
			margin: 0 0 ($element-margin * 0.75) 0;
		}

		.h3 {
			font-size: 0.7em;
		}

		p {
			font-size: 0.9em;
		}
    }

    .footer {
        .copyright {
            color: $body-color-fg-light;
            font-family: $header-font-family;
            font-size: 0.5em;
            font-weight: $header-font-weight;
            letter-spacing: $header-kerning;
            text-transform: uppercase;
            margin-top: 1em;
        }
    }

    @include breakpoint-max(lg) {
        min-width: 0;
        width: 100%;

        margin: $section-padding 0 0 0;
        padding: $section-padding 0 0 0;

        border-top: $border-style $border-width $border-color;
    }
}
