.page-wrapper {
    margin: 0 auto;
    display: flex;

    
    max-width: 100%;

    @include breakpoint-max(md) {
        &:has(.menu-open) {
            > .main,
            .sidebar {
                opacity: 0.3;
                transition: opacity 0.5s ease;
            }
        }

        &:has(.menu-close) {
            > .main,
            .sidebar {
                opacity: 1;
                transition: opacity 0.5s ease;
            }
        }
    }

    @include breakpoint-min(xs) {
        flex-direction: column;
        padding: $section-padding-sm;
    }

    @include breakpoint-min(md) {
        padding: $section-padding;
    }

    @include breakpoint-min(lg) {
        flex-direction: row-reverse;
        // padding: $section-padding;
    }


    .page-header {
        
        display: flex;

        .page-title {
            flex-grow: 1;
            flex: 1;
            padding: ($section-padding) $section-padding ($section-padding * 1.1) $section-padding;

            .h2 {    
                font-weight: $header-font-weight-bold;
                font-size: 2em;

                .link {
                    border-bottom: 0;
                }
            }
        }


        @include breakpoint-max(md) {
            flex-direction: column;
            @include padding($section-padding, $section-padding);

            .page-title {
                flex: 0 1 auto;
                margin: 0 0 $element-margin 0;
                padding: 0;
                text-align: center;
            }
        }

        @include breakpoint-max(sm) {
            @include padding($section-padding-sm, $section-padding-sm);
        }
    }

    .page-body {
        flex-grow: 1;
        width: 100%;
    }
}
